// 版式

$font-family: Microsoft Yahei;
*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    text-size-adjust: 100%;
    min-width: 1140px;
    font-size: 14px;
}
body {
    font-family: $font-family;
    background-color: #fff;
    color: $silver;
}
body,
div,
ul,
ol,
li,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
i,
b,
strong,
em,
img,
table,
tr,
th,
td,
input,
form,
fieldset,
textarea,
select,
option {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    font-weight: 400;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
button,
input,
select,
textarea {
    font-family: $font-family;
    outline: none;
}
img {
    box-sizing: content-box;
    border: 0;
    vertical-align: middle;
}
a {
    background-color: transparent;
    outline: none;
}
ul,
ol {
    list-style: none;
}
[role="button"] {
    cursor: pointer;
}
